@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&display=swap');

:root {
    --padding-left-rigth: 40px;
    --border-color-input : #E5E7EB;
    --color-create-account : #596D48;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url(tools/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.img {
    height: 100vh;
    width: 35vw;
    background-image: url(tools/plant.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    position: relative;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;

    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 5px;
}

figure {
    width: 80px;
}

.logo img {
    width: 100%;
}

.logo > p {
    font-family:'Norse-Bold', sans-serif;
    font-size: 4.5rem;
    color: #fff;
}

.container {
    width: calc(100vw - 35vw);

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container .texts {
    padding: 20px var(--padding-left-rigth);
    font-size: 1.2rem;
    font-weight: bold;
}

.container .texts .second-child {
    margin-top: 18px;
    padding: 0.1px;
}


form {
    box-shadow: 0px 2px 7px #bbb;
    padding: 15px 0;
    padding-left: var(--padding-left-rigth);

    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

form .paragraph {
    font-size: 1.3rem;
    font-weight: bold;
}

.container-inputs {
    display: flex;
    gap: 50px;
}

.left-form {
    display: flex;
    flex-direction: column;
}

.rigth-form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    border: 1px solid var(--border-color-input);
    margin-bottom: 10px;
    outline: none;
    padding: 5px;
    border-radius: 3px;
}

input:focus {
    border: 1px solid rgba(108, 108, 233, 0.918);
    box-shadow: 0px 2px 5px #000;
}

label {
    margin-top: 15px;
}

.buttons {
    padding: 0 var(--padding-left-rigth);
}


.buttons .create-account {
    text-decoration: none;
    display: inline-block;
    padding: 7px 35px;
    background-color: var(--color-create-account);
    color: #fff;
    border-radius: 10px;
    margin-bottom: 8px;
}

.buttons a:last-child {
    text-decoration: none;
    margin-left: 5px;
    color: var(--color-create-account);
    font-weight: bold;
}
